
/* HEADER */
/* .menu-logo {

} */

header {
  height: 100px;
  padding: 1em 15px;
  font-size: 1.6rem;
}

header img {
  height: 1em;
}

.collapse img {
  height: .8em;
  position: relative;
  top: .1em;
}

.user-avatar {
  height: 1.2em;
}

.user-avatar:hover {
  border: 2px solid var(--Orange);
  border-radius: 25px;
}

.logo {
  margin-left: .8em;
  height: 1.1em;
}

.header-cart {
  width: 3.5em;
}

.icon-cart {
  position: relative;
  cursor: pointer;
}

#user-cart {
  position: absolute;
  top: -.5em;
  right: -.5em;
  background-color: var(--Orange);
  color: white;
  text-align: center;
  padding: 0 .5rem;
  height: 1rem;
  font-size: .8rem;
  border-radius: 15px;
  display: none;
}

ul {
  display: none;
}

li {
  margin:0;
  padding:0;
}


@media (min-width: 1150px) {
  
  header {
    border-bottom: 1px solid var(--Dark-grayish-blue);
    width: 80vw;
    margin: 0 auto;
  }

  .menu-logo {
    flex-direction: row-reverse;
  }
  
  header ul {
    display: flex;
    list-style-type: none;
    font-size: .8em;
    margin-left: 3em;
  }

  header li:last-child {
    margin-right: 0;
  }


  .collapse img {
    display: none;
  }

   
}