/* SECTION - image of product */

section {
  position: relative;
}

.product {
  width: 100%;
  height: 28em;
  object-fit: cover;
}

.image-scroll {
  width: 95%;
  display: flex;
  justify-content: space-between;
  position: absolute;
}

.arrow {
  height: 3.5em;
  width: 3.5em;
  background-color: white;
  border-radius: 2em;
}

.arrow img {
  height: 1.3em;
}

div.lightbox {
  display: none;
}


@media (min-width: 1150px) {
  main {
    display: flex;
  }
  
  section {
    display: flex;
    flex-direction: column;
  }
  
  .product {
    display: block;
    height: 33em;
    width: 33em;
  }
  
  .product, ul img {
    border-radius: 15px;
  }
  
  ul {
    display: flex;
    list-style-type: none;
    gap: 2.2em;
  }
  
  .thumbnail {
    width: 6.6em;
    margin-top: 2.2em;
    cursor: pointer;
  }

  .thumbnail:hover {
    filter: opacity(.5);
  }
  
  .image-scroll {
    display: none;
  }
  
  .selected-img {
    filter: opacity(.4);
    border: 3px solid var(--Orange);
  }

  /* LIGHTBOX */

  div.lightbox {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(65, 65, 65, 0.965);
  }

  .lightbox-content {
    flex-direction: column;
    position: relative;
  }

  .lightbox-close {
    position: absolute;
    top: -1.5em;
    right: 0;
    font-size: 2rem;
    color: white;
    font-weight: 600;
    cursor: default;
  }

  .lightbox.product {
    width: 36em;
  }

  .lightbox-arrows {
    width: 40em;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
  }

  .arrow {
    position: absolute;
    user-select: none;
    -webkit-user-select: none;
  }

  .next {
    right: 0;
  }

}